$blanco: aliceblue;
$negro:#161918;
.nv{
    background: $negro;
}

.banner-contacto{
    background-image: url(../img/bannerContacto.png);
    color: $blanco;
    text-align: center;
    line-height: 350px;
}
.banner-contacto h1{
    padding-top: 350px;
}
.ubi{
    text-align: center;
    font-size: 25px;
}
.formulario{
    text-align: center;
    font-size: 25px;
}
.formulario label,input{
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}
.formulario button{
    border: 2px solid $negro;
    border-radius: 10px;
    padding: 10px 20px;
}
.formulario button:hover{
    background: $negro;
    color: $blanco;
}