//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$blanco: aliceblue;
$bgNavProyect:#767676;

.nv-proyect{
    background: $bgNavProyect;
}
.banner-proyectos{
    background-image: url(../img/BannerProyect.webp);
    text-align: center;
}
.banner-proyectos h1{
    color:$blanco;
    padding-top: 300px;
}
.proyect{
    background-image: url(../img/recusroMicRotate.png);
    background-repeat: no-repeat;
    background-size: 100px;
    font-family: "Montserrat", sans-serif;
    
}
.proyect_sections{
    text-align: center;
    margin-top: 10vh;
    
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
.recurso{
    background-image: url(../img/recusroMicRotateLeft.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;

}