$bgNavSobre: 769bc5;
$blanco: aliceblue;
$gris:#9FAFC1;
.nv{
    background: $bgNavSobre;
}
.banner-sobre{
    background-image: url(../img/estudio1.png);
    text-align: center;
}
.banner-sobre h1{
    color: $blanco;
    padding-top: 300px;
}
.contenido-sobre{
    text-align: center;
    background-image: url(../img/Recurso.png);
    background-repeat: no-repeat;
    background-size: 80px;
    transition: all 2s;
    
}
.grab{
    background-image: url(../img/Recurso.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: right;
}
.contenido-sobre h2{
    color: $gris;
    padding: 10px;
    margin-top: 20px;   
}
.contenido-sobre p{
    margin-bottom: 10px;
    font-size: 20px;
}