$bgNavSobre: linear-gradient(90deg, rgba(11,4,4,1) 0%, rgba(95,54,29,1) 26%, rgba(95,54,29,1) 74%, rgba(4,1,1,1) 100%);;
$blanco: aliceblue;
$gris:#9FAFC1;
.nv{
    background: $bgNavSobre;
}
.banner-sobre{
    background-image: url(../img/bannerSobreMusic.webp);
    text-align: center;
    background-position: center;
    background-size: cover;
}
.banner-sobre h1{
    color: $blanco;
    padding-top: 300px;
}
.contenido-sobre{
    text-align: center;
    background-image: url(../img/Recurso.png);
    background-repeat: no-repeat;
    background-size: 80px;
    transition: all 2s;
    
}
.bg{
    background-color: #e7edf3;
}
.grab{
    background-image: url(../img/Recurso.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: right;
}
.contenido-sobre h2{
    color: $gris;
    padding: 10px;
    margin-top: 20px;   
}
.contenido-sobre p{
    margin-bottom: 10px;
    font-size: 20px;
}