@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// NUNITO
//font-family: "Montserrat", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
//font-family: 'Nunito', sans-serif;


*{
  font-family: 'Nunito', sans-serif;
}
//Colores
$bgNavHome:#552917;
$blanco: aliceblue;
$negro:#161918;
$dorado:#f1af67;



.navbar {
  font-size: 1.2rem;
  background: linear-gradient(90deg, rgba(11,4,4,1) 0%, rgba(77,39,23,1) 26%, rgba(68,35,20,1) 74%, rgba(4,1,1,1) 100%);
}

.collapse {
  justify-content: end;
}

.jum {
  background-image: url(../img/estudio6.webp);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.jum h1 {
  /* margin-top: 80px; */
  margin-bottom: 50px;
  font-size: 60px;
  color: $blanco;
}

.jum a {
  border: 1px solid $blanco;
  color: $blanco;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 20px;
  transition: all 0.2s;
}

.jum a:hover {
  background-color: $blanco;
  color: $negro;
}

// *****EFECTO BOTON****
.btn-efx{
  display: inline-block;
  transform: perspective(1px) translateZ(0);
}
.btn-efx:hover,
.btn-efx:focus,
.btn-efx:active{
  animation-name: efectoBTN;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes efectoBTN{
  17% {transform: translateX(8px);}
  34% {transform: translateX(-6px);}
  50% {transform: translateX(4px);}
  67% {transform: translateX(-2px);}
  84% {transform: translateX(1px);}
  100%{transform: translateX(0);}
}
// *****FIN EFECTO BOTON****

/* SectionMusicProyect */
.sobre {
  text-align: center;
  background-image: url(../img/bannerSobreMusicHome.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.sobre h2 {
  margin-top: 5px;
}

.frase {
  margin-top: 35vh;
}

.sobre a {
  text-decoration: none;
  color: $negro;
  border: 1px solid $negro;
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.sobre a:hover {
  box-shadow: inset 0 0 10px $negro;
}

/* Fin sobre music Proyect */
/* INICIO Seccion Grabacion Profesional */
.g-profesional {
  text-align: center;
  padding: 50px 0px 0px 0px;
    p{
        padding: 20px;
        font-weight: 600;
        font-size: 20px;
    }
}


.g-profesional h2 {
  margin: 10px 0 30px 0;
  padding: 10px 0px 0px 0px;
}


.g-profesional img {
  transition: all 1s;
}

.g-profesional img:hover {
  transform: rotate(360deg);
}

.card{
  width: 12rem;
  border: none;
  background: #F8F9FA;
}

.conoce-mas a {
  text-decoration: none;
  color: $negro;
  border: 1px solid $dorado;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 20px;
  transition: all 1s;
  font-weight: 600;
}
.conoce-mas a:hover{
    background: $dorado;
}

/* FIN Grabacion Profesional */
/* INICIO Seccion ACompañan */
.acomp {
  text-align: center;
  height: 50vh;
  margin-top: 100px;
}

.acomp h2 {
  padding: 20px;
  font-size: 45px;
}

.acomp img {
  transition: all 1.1s;
}

.acomp img:hover {
  transform: scale(1.5);
}

/* FIN Acompañan */
/* Proyects */
.project {
  padding: 20px;
  text-align: center;
  background-image: url(../img/micProyectosHome.webp);
  background-size: cover;
}

.project h2 {
  font-size: 50px;
  color: $blanco;
}

.project a {
  text-decoration: none;
  border: 1px solid $blanco;
  color: $blanco;
  padding: 7px 25px;
  border-radius: 20px;
  background: $negro;
  font-size: 25px;
}

.project a:hover {
  background: $blanco;
  color: $negro;
  border: 2px solid $negro;
}

/* Footer */
.piePag {
  text-align: center;
  padding: 30px;
}

.redes a {
  color: $negro;
  font-size: 30px;
  padding: 10px;
}

.piePag p {
  font-size: 15px;
  color: $negro;
  flex-wrap: wrap;
}





// *****SCREEN 320 ************

@media screen and (min-width: 320px) {
  .frase {
    margin-top: 40vh;
  }
  .g-profesional {
    /* background-image: url(../img/Rec.png); */
    background-repeat: no-repeat;
    background-position: center;
  }
  .piePag {
    display: flex;
    align-items: center;
    text-align: center;
  }
}


// ******SCREEN 578********

@media screen and (min-width: 578px) {
  .project h2 {
    background: none;
  }
  .frase {
    margin-top: 50vh;
  }
}



// ******SCREEN 1000******

@media screen and (min-width: 1000px) {
  .frase {
    margin-top: 55vh;
  }
}

@import "_contacto";
@import "_proyectos";
@import "_salas";
@import "_sobreMusic";
@import "_turnos";
