@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  font-size: 1.2rem;
  background: linear-gradient(90deg, rgb(11, 4, 4) 0%, rgb(77, 39, 23) 26%, rgb(68, 35, 20) 74%, rgb(4, 1, 1) 100%);
}

.collapse {
  justify-content: end;
}

.jum {
  background-image: url(../img/estudio6.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.jum h1 {
  /* margin-top: 80px; */
  margin-bottom: 50px;
  font-size: 60px;
}

.jum a {
  border: 1px solid aliceblue;
  color: aliceblue;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 20px;
  transition: all 0.2s;
}

.jum a:hover {
  background-color: aliceblue;
  color: #161918;
}

.btn-efx {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
}

.btn-efx:hover,
.btn-efx:focus,
.btn-efx:active {
  animation-name: efectoBTN;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes efectoBTN {
  17% {
    transform: translateX(8px);
  }
  34% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(4px);
  }
  67% {
    transform: translateX(-2px);
  }
  84% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* SectionMusicProyect */
.sobre {
  text-align: center;
  background-image: url(../img/bannerSobreMusic.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.sobre h2 {
  margin-top: 5px;
}

.frase {
  margin-top: 35vh;
}

.sobre a {
  text-decoration: none;
  color: #161918;
  border: 1px solid #161918;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.sobre a:hover {
  box-shadow: inset 0 0 10px #161918;
}

/* Fin sobre music Proyect */
/* INICIO Seccion Grabacion Profesional */
.g-profesional {
  text-align: center;
  padding: 50px 0px 0px 0px;
}
.g-profesional p {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.g-profesional h2 {
  margin: 10px 0 30px 0;
  padding: 10px 0px 0px 0px;
}

.g-profesional img {
  transition: all 1s;
}

.g-profesional img:hover {
  transform: rotate(360deg);
}

.card {
  width: 12rem;
  border: none;
}

.conoce-mas a {
  text-decoration: none;
  color: #161918;
  border: 1px solid #f1af67;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 20px;
  transition: all 1s;
  font-weight: 600;
}

.conoce-mas a:hover {
  background: #f1af67;
}

/* FIN Grabacion Profesional */
/* INICIO Seccion ACompañan */
.acomp {
  text-align: center;
  height: 50vh;
  margin-top: 100px;
}

.acomp h2 {
  padding: 20px;
  font-size: 45px;
}

.acomp img {
  transition: all 1.1s;
}

.acomp img:hover {
  transform: scale(1.5);
}

/* FIN Acompañan */
/* Proyects */
.project {
  padding: 20px;
  text-align: center;
  background-image: url(../img/micProyectosHome.jpg);
  background-size: cover;
}

.project h2 {
  font-size: 50px;
  color: aliceblue;
}

.project a {
  text-decoration: none;
  border: 1px solid aliceblue;
  color: aliceblue;
  padding: 7px 25px;
  border-radius: 20px;
  background: #161918;
  font-size: 25px;
}

.project a:hover {
  background: aliceblue;
  color: #161918;
  border: 2px solid #161918;
}

/* Footer */
.piePag {
  text-align: center;
  padding: 30px;
}

.redes a {
  color: #161918;
  font-size: 30px;
  padding: 10px;
}

.piePag p {
  font-size: 15px;
  color: #161918;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .frase {
    margin-top: 40vh;
  }
  .g-profesional {
    /* background-image: url(../img/Rec.png); */
    background-repeat: no-repeat;
    background-position: center;
  }
  .piePag {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 578px) {
  .project h2 {
    background: none;
  }
  .frase {
    margin-top: 50vh;
  }
}
@media screen and (min-width: 1000px) {
  .frase {
    margin-top: 55vh;
  }
}
.nv {
  background: #161918;
}

.banner-contacto {
  background-image: url(../img/bannerContacto.png);
  color: aliceblue;
  text-align: center;
  line-height: 350px;
}

.banner-contacto h1 {
  padding-top: 350px;
}

.ubi {
  text-align: center;
  font-size: 25px;
}

.formulario {
  text-align: center;
  font-size: 25px;
}

.formulario label, input {
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.formulario button {
  border: 2px solid #161918;
  border-radius: 10px;
  padding: 10px 20px;
}

.formulario button:hover {
  background: #161918;
  color: aliceblue;
}

.nv {
  background: #5a5959;
}

.banner-proyectos {
  background-image: url(../img/cassets.png);
  text-align: center;
}

.banner-proyectos h1 {
  color: aliceblue;
  padding-top: 300px;
}

.proyect {
  background-image: url(../img/recusroMicRotate.png);
  background-repeat: no-repeat;
  background-size: 100px;
  font-family: "Montserrat", sans-serif;
}

.proyect_sections {
  text-align: center;
  margin-top: 10vh;
}
.proyect_sections h2 {
  font-size: 30px;
}
.proyect_sections p {
  font-size: 20px;
}

.recurso {
  background-image: url(../img/recusroMicRotateLeft.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nv {
  background: #272727;
}

.banner-salas {
  background-image: url(../img/Banner.jpg);
  text-align: center;
}

.banner-salas h1 {
  color: aliceblue;
  padding-top: 350px;
}

.gal {
  padding: 20px;
}
.gal h2 {
  font-weight: 700;
  font-size: 40px;
}

.cont {
  background: #9FAFC1;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
}

.item {
  border: 4px solid #161918;
  /* height: 50px; */
}

.item1 {
  background-image: url(../img/estudio1.png);
  background-size: cover;
  background-position: center;
  grid-area: img1;
}

.item2 {
  background-image: url(../img/estudio2.png);
  background-size: cover;
  background-position: center;
  grid-area: img2;
}

.item3 {
  background-image: url(../img/estudio3.png);
  background-size: cover;
  background-position: center;
  grid-area: img3;
}

.item4 {
  background-image: url(../img/estudio4.png);
  background-size: cover;
  background-position: center;
  grid-area: img4;
}

.item5 {
  background-image: url(../img/estudio5.png);
  background-size: cover;
  background-position: center;
  grid-area: img5;
}

.item6 {
  background-image: url(../img/estudio6.png);
  background-size: cover;
  background-position: center;
  grid-area: img6;
}

.item7 {
  background-image: url(../img/estudio7.png);
  background-size: cover;
  background-position: center;
  grid-area: img7;
}

.item8 {
  background-image: url(../img/drumRec.png);
  background-size: cover;
  background-position: center;
  grid-area: img8;
}

.nv {
  background: 769bc5;
}

.banner-sobre {
  background-image: url(../img/estudio1.png);
  text-align: center;
}

.banner-sobre h1 {
  color: aliceblue;
  padding-top: 300px;
}

.contenido-sobre {
  text-align: center;
  background-image: url(../img/Recurso.png);
  background-repeat: no-repeat;
  background-size: 80px;
  transition: all 2s;
}

.grab {
  background-image: url(../img/Recurso.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: right;
}

.contenido-sobre h2 {
  color: #9FAFC1;
  padding: 10px;
  margin-top: 20px;
}

.contenido-sobre p {
  margin-bottom: 10px;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
